.td{
    text-decoration: none;
    color: white;
}
.td:hover{
    opacity: 0.8;
}
.parent{
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    padding-left: 65px;
    padding-right: 65px;
    min-width: 1000px;
    margin-bottom: 10px;
    gap:20px;
    margin-top: 40px;

}
.zz{
    display: flex;
    justify-content: center;
}
.img{
    // width: 300px;
    width: 100%;
}
.pag{
    background-color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    position: fixed;
    /* display: flex; */
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
.btnDesc{
    border-radius: 20px 0 0 20px;
}
.btnPlus{
    border-radius: 0 20px 20px 0;
}
.text{
    height: 60px;
    padding: 8px;
    // position: relative;
    position: absolute;
    // bottom: -500px;
    bottom: 0;
    background-color: #0000008f;
    // width: 300px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:white ;
    width: 100%;
    display: flex;
    align-items: center;
    // max-width: 100%;
}
.parentDrop{
    margin-top: 10px;
}
.drop{
    margin-left: 65px;
    // margin-left: 100px;
}
.drop2{
    margin-left: 10px;
}
.notText{
    color:white;
    text-align: center;
    margin-bottom: 20px;
}
.zagr {
    position: absolute;
    top:300px;
    width: 100%;
    &__hed1 {
      display: flex;
      justify-content: center;
    }
}
.zagr2 {
    position: absolute;
    top:200px;
    width: 100%;
    &__hed1 {
      display: flex;
      justify-content: center;
    }
}

@media screen and (max-width:600px) {
    .parent > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .parent{
        padding: 0;
        min-width: 100%;
        grid-template-columns: auto;
    }
    .parentDrop{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .drop,.drop2{
        margin-left: 5px;
    }
    .zagr2 {
        position: absolute;
        top:400px;
        width: 100%;
        &__hed1 {
          display: flex;
          justify-content: center;
        }
    }
}