.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 150px;

    &__message{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__gr{
        width: 100%;
        display: flex;
        justify-content: center;
    }   
}

.theme,.text{
    margin-bottom: 10px;
}
.send{
    width: 100;
    display: flex;
    justify-content: center;
}

.zagr {
    position: absolute;
    top:300px;
    width: 100%;
    &__hed1 {
      display: flex;
      justify-content: center;
    }
  }

@media screen and (max-width:600px) {
    .container{
        padding-top: 25px;
    }
}