.container {
   padding-top: 130px;
   padding-bottom: 20px;
   background-color: black;
}
.hidden{
    display: none;
}
.menu{
    padding-left: 60px;
    background-color: black;
    padding-bottom: -60px;
    position: relative;
    z-index: 100;
}
.menu li{
    color: white;
}
.menu li:hover{
    color: white;
    scale: 1.2;
}
.menu li:active{
    color: white !important; 
}
.ant-menu-overflow-item::after{
    display: none !important;
}
.menu .ant-menu-item-active{
    color:white !important;
}

@media screen and (max-width:600px) {
    .menu{
        padding-left: 0;
        display: flex;
        justify-content: center;
    }
    .container {
        padding-top: 13px;
     }
}