.Main{
    background-color: black ;
    min-height: 100vh;
}

.container{
    color:white;
}
.row{
    flex-direction: row;
}
.divi{
    background-color: gray;
}
.zagr{
    background-color: black;
    padding-top: 150px;
    width: 100%;
    height: 100%;
}