.Main{
    background-color:white ;
    height: 100%;
}
.container{
    color:black;
}
.row{
    flex-direction: row;
}
.zagr{
    background-color: black;
    padding-top: 150px;
    width: 100%;
    // background-color: black;
    height: 100%;
}